{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en" dir="ltr  ">
    <head>
        <meta charset="utf-8">
        <title>Results for smart wearables</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        <link rel="stylesheet" href="{% static 'styles.css' %}">
    </head>

    <body>
      <div class="container">
        <div class="jumbotron">
          <h1>Results from wearables data processing</h1>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="card">
              <img class="card-img-top" src="{% static '/images/RawDataPlot.png' %}">
            </div>
            <div class="card-body">
              <p class="card-text">Raw Data</p>
            </div>
          </div>
          <div class="row">
          <div class="col-sm-12 col-md-6 col-lg-6">
            <div class="card">
              <img class="card-img-top" src="#">
              <div class="card-body">
                <p class="card-text">10min</p>
              </div>
            </div>
          </div>
            <div class="card">
            <div class="col-sm-12 col-md-6 col-lg-6">
              <img class="card-img-top" src="#">
              <div class="card-body">
                <p class="card-text">15min</p>
              </div>
              </div>
            </div>
          </div>
          <div class="row">
          <div class="col-sm-12 col-md-6 col-lg-6">
            <div class="card">
              <img class="card-img-top" src="#">
              <div class="card-body">
                <p class="card-text">30min Healthy</p>
              </div>
            </div>
          </div>
            <div class="card">
            <div class="col-sm-12 col-md-6 col-lg-6">
              <img class="card-img-top" src="#">
              <div class="card-body">
                <p class="card-text">30min unhealthy</p>
              </div>
              </div>
            </div>
          </div>
          <div class="row">
          <div class="col-sm-12 col-md-6 col-lg-6">
            <div class="card">
              <img class="card-img-top" src="#">
              <div class="card-body">
                <p class="card-text">1hour workday</p>
              </div>
            </div>
          </div>
            <div class="card">
            <div class="col-sm-12 col-md-6 col-lg-6">
              <img class="card-img-top" src="#">
              <div class="card-body">
                <p class="card-text">1hour weekend</p>
              </div>
              </div>
            </div>
          </div>
        </div>
        </div>
      </div>
    </body>
</html>
