{% extends 'base.html' %}
{% load static %}

{% block content %}
<p><a href=".."><button class="btn"><i class="fa fa-home"></i> Начало</button></a></p>
<form class="" action="/activity/" method="post">
  <div class="form-group">
    <label>Начален час :</label>
    <select class="form-control">
      {% for start_time in form.start_interval %}
        {% if start_time != "24:00" %}
          {{ start_time }}
        {% endif %}
      {% endfor %}
    </select>
  </div>
  <div class="form-group">
    <label for="sel_end">Краен час :</label>
    <select class="form-control" id="sel_end">
      {% for end_time in form.end_interval %}
        {{ end_time }}
      {% endfor %}
    </select>
  </div>
  <div class="form-group">
    <label>Интервал :</label>
    {% for radio in form.time_split %}
    <label for="{{ radio.id_for_label }}">
      <span class="radio">{{ radio.tag }}</span>
      {{ radio.choice_label }}
    </label>
    {% endfor %}
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
{% endblock %}
